@import "../../../scss/mixin.scss";
@import "../../../scss/variables.scss";
.Search-banner {
    background-color: $light-gray;
    padding-top: 33px;
    padding-bottom: 30px;
    text-align: center;
    .sm-text {
        @include fontsize(10px);
        color: $color-secondary;
        display: inline-block;
        margin-bottom: 20px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }
    h1 {
        margin-bottom: 16px;
    }
    p {
        @include fontsize(11px);
        max-width: 300px;
        margin: 0 auto;
    }
}
@media all and (min-width: $screen-md) {
    .Search-banner {
        padding-top: 49px;
        p {
            @include fontsize(14px);
            max-width: 652px;
        }
        h1 {
            @include fontsize(28px);
            margin-bottom: 12px;
        }
    }
}
@media all and (min-width: $screen-xl) {
    .Search-banner {
        padding-top: 81px;
        position: relative;
        padding-bottom: 186px;
        .sm-text {
            @include fontsize(12px);
            letter-spacing: 0.7px;
            margin-left: 8px;
            margin-bottom: 18px;
            color: $gold;
        }
        h1 {
            @include fontsize(48px);
            font-weight: $semibold-weight;
            letter-spacing: 1px;
            margin-left: 30px;
            margin-bottom: 18px;
            color: $gold;
        }
        p {
            @include fontsize(18px);
            max-width: 930px;
        }
    }
}
