//fonts 
$font-base: 'Product-Sans-Regular';
$font-secondry: 'Product-Sans-Regular';
$font-primary: 'Product-Sans-Bold';

$color-body: #20222C;
$white: #fff;
$light-gray:#FAFAFA;
$gold: #ff2587;
$gray:#6a6d71;

$color-gray: #8B8B8B;
$color-gray-lgt: #DCDADA;
$color-lgtGray:#F8F8F8;
$color-primary: #535353;
$color-secondary: #7C7C7C;
$color-green-lgt:#93CA5C;
$color-border:#DAD6D1;
$golddark: #ff1066;
$black:#000000;
$border-color:#D6D6D6;
$light-black: #20222C;
$silver:#F5F0E7;
$card-color: #ebebeb;

//font-weight
$light-font:300;
$normal-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$bold-font:700;
$extrabold-font:800;
$black-font:900;

//screen size
$screen-xxs: 374px;
$screen-xs: 767px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-custom: 1799px;
$screen-xxl: 1800px;